* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: transparent;
}

/* Jumbotron style */

.jumbotron-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100% ;
    height: 80vh;
}

.jumbotron-text-wrapper {
    width: 30%;
    color: #fff;
    text-align: center;
    padding: 0px 64px;
}

.jumbotron-text-wrapper h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 16px;
}

.jumbotron-text-wrapper p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}

.jumbotron-action-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 24px;
}

.jumbotron-action-wrapper button {
    background-color: #1e47ff;
    color: #fff;
    border-radius: 5px;
    padding: 18px 25px;
    cursor: pointer;
    transition-duration: 500ms;
}

.jumbotron-action-wrapper button:hover {
    background-color: #132da1;
}

.jumbotron-action-wrapper p {
    margin: 0px;
}

/* End Jumbotron style */

/* Navbar style */
 
header {
    padding: 32px 160px;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0px 8px;
}

nav {
    display: flex;
    align-items: center;
    gap: 64px;
    font-size: 18px;
}

nav a {
    cursor: pointer;
}

.active {
    color: blue;
    text-decoration: underline;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
    transform-origin: 500ms;
}

.menu-wrapper {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0px 32px;
    cursor: pointer;
}

/* End navbar style */

.company-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 84px;
    margin: 140px 0px;
}

.company-vision .img-section {
    padding: 52px 40px;
    position: relative;
}

.company-vision .img-section .experience {
    text-align: center;
    padding: 20px 12px;
    background-color: #1e47ff;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}

.company-vision .img-section .triangle-shape {
    position: absolute;
    bottom: 26px;
    left: 20px;
    z-index: -1;
}

.company-vision .img-section .img-small {
    border-radius: 10px;
    background-color: #fff;
    padding: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.company-vision .text-section {
    width: 30%;
}

.company-vision .text-section .caption {
    font-size: 16px;
    color: #1b3868;
    margin-bottom: 14px;
}

.company-vision .text-section h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 28px;
}

.company-vision .text-section .description {
    font-size: 20px;
    color: #333333;
    line-height: 32px;
    width: 64%;
    margin-bottom: 24px;
}

.company-vision .text-section button {
    font-weight: 700;
    background-color: #1e47ff;
    color: #fff;
    border: transparent;
    border-radius: 5px;
    padding: 12px 36px;
    cursor: pointer;
    transition-duration: 500ms;
}

.company-vision .text-section button:hover {
    background-color: #132da1;
}
/* List core card style */

.list-core-cards {
    display: flex;
    justify-content: center;
    gap: 0px 28px;
    padding: 0px 160px;
    margin: 140px 0px;
}

.list-core-cards .card {
    border: 1px solid rgba(30, 71, 255, 37%);
    border-radius: 10px;
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-core-cards .card .bg-icon {
    background-color: #1e47ff;
    padding: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.list-core-cards .card h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.list-core-cards .card p {
    font-size: 16px;
    color: #666;
}

/* End list core cards style */





