/* Navbar style */
 
header {
    padding: 32px 160px;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0px 8px;
}

nav {
    display: flex;
    align-items: center;
    gap: 64px;
    font-size: 18px;
}

nav a {
    cursor: pointer;
}

.active {
    color: blue;
    text-decoration: underline;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
    transform-origin: 500ms;
}

.menu-wrapper {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0px 32px;
    cursor: pointer;
}

/* End navbar style */